/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

} */

body{
  font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600;700&display=swap');